<div id="image"><img class="cute-burger" class="img-responsive" class="center.block" src="/assets/img/Cute-Summer-Burger.jpg"></div>
<br>
<h1 class="text-center">Devour Thy Burger</h1>
<br>


<div class="row" class="center">
    <div class="col-xs-6">
        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    <div class="row">
                        <li class="uneaten">
                            {{id}}. {{burger_name}}
                        </li>
                        <button class="devour-button btn btn-sm btn-light" data-id="{{id}}" data-state="false">Devour Me!</button>
                    </div>
                {{/unless}}
            {{/each}}
        </ul>
        
    </div>
    <div class="col-xs-6">
        {{#each burgers}}
            {{#if devoured}}
                <form>
                    <label for="{{burger_name}}"></label>
                    <input class="devoured" type="text" placeholder="{{id}}. {{burger_name}}">
                </form>
            {{/if}}
        {{/each}}
    </div>
</div>


{{!-- <ul>
  {{#each burgers}}
   {{#unless devoured}}
  <li>{{this.burger_name}}</li>
   {{/unless}}
  {{/each}}
</ul> --}}


<form class="text center create-burger">

  {{!-- <div class="form-burger"> --}}
    <label for="burger">Add a Burger Here:</label>
    <input type="text" id="burger-input" name="burger_name">
  {{!-- </div> --}}
{{!-- 
  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  {{!-- <div>
    <li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}SLEEP TIME!{{else}}WAKE UP!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>
</div> --}}

  <button class="btn btn-sm btn-primary" type="submit">Add Burger</button>
</form>

